In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/amalshar/Desktop/USD/Fall 2025/Data Analysis/Final Project/daily_2025_full_merge_all_counties.csv')

In [3]:
df.head()

,State Code,County Code,Site Num,Date Local,CO,SO2,NO2,O3,PM25,BarometricPressure,Temperature,WindResultant,DailyAQI
0,6,5,2,2025-01-01,NaN,NaN,NaN,0.014412,NaN,NaN,45.266667,0.379167,20.0
1,6,5,2,2025-01-01,NaN,NaN,NaN,0.014412,NaN,NaN,45.266667,210.208333,20.0
2,6,5,2,2025-01-02,NaN,NaN,NaN,0.012294,NaN,NaN,46.483333,0.883333,19.0
3,6,5,2,2025-01-02,NaN,NaN,NaN,0.012294,NaN,NaN,46.483333,166.083333,19.0
4,6,5,2,2025-01-03,NaN,NaN,NaN,0.017059,NaN,NaN,45.287500,0.683333,26.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153919 entries, 0 to 153918
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   State Code          153919 non-null  int64
 1   County Code         153919 non-null  int64
 2   Site Num            153919 non-null  int64
 3   Date Local          153919 non-null  object
 4   CO                  153562 non-null  float64
 5   SO2                 151299 non-null  float64
 6   NO2                 153562 non-null  float64
 7   O3                  153919 non-null  float64
 8   PM25                153562 non-null  float64
 9   BarometricPressure  151438 non-null  float64
 10  Temperature         153919 non-null  float64
 11  WindResultant       153919 non-null  float64
 12  DailyAQI            153919 non-null  float64
dtypes: float64(9), int64(3), object(1)
memory usage: 15.3+ MB

In [5]:
df.isna().sum()

State Code               0
County Code              0
Site Num                 0
Date Local               0
CO                     357
SO2                   2620
NO2                    357
O3                       0
PM25                   357
BarometricPressure    2481
Temperature              0
WindResultant            0
DailyAQI                 0
dtype: int64

In [6]:
df['Date Local'] = pd.to_datetime(df['Date Local'], errors='coerce')

numeric_cols = ['CO', 'SO2', 'NO2', 'O3', 'PM25',
                'BarometricPressure', 'Temperature', 'WindResultant', 'DailyAQI']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [7]:
# Remove rows with NaN in the target or feature columns
df = df.dropna(subset=['CO', 'SO2', 'NO2', 'O3', 'PM25',
                             'BarometricPressure', 'Temperature', 'WindResultant', 'DailyAQI'])

In [ ]:
# Drop duplicate rows
df = df.drop_duplicates()

In [9]:
df = df[(df['Temperature'] > -50) & (df['Temperature'] < 60)]

In [10]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94131 entries, 2620 to 153895
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State Code          94131 non-null  int64
 1   County Code         94131 non-null  int64
 2   Site Num            94131 non-null  int64
 3   Date Local          94131 non-null  datetime64[ns]
 4   CO                  94131 non-null  float64
 5   SO2                 94131 non-null  float64
 6   NO2                 94131 non-null  float64
 7   O3                  94131 non-null  float64
 8   PM25                94131 non-null  float64
 9   BarometricPressure  94131 non-null  float64
 10  Temperature         94131 non-null  float64
 11  WindResultant       94131 non-null  float64
 12  DailyAQI            94131 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(3)
memory usage: 10.1 MB

In [11]:
df.isna().sum()

State Code            0
County Code           0
Site Num              0
Date Local            0
CO                    0
SO2                   0
NO2                   0
O3                    0
PM25                  0
BarometricPressure    0
Temperature           0
WindResultant         0
DailyAQI              0
dtype: int64

In [12]:
# Save the cleaned data
df.to_csv('/Users/amalshar/Desktop/USD/Fall 2025/Data Analysis/Final Project/daily_2025_cleaned_data.csv', index=False)